#header {
    max-height: 15px;
    min-height: 15px;
    height: 15px;
    width: 100%;
    background: #ed7474;
    text-align: center;
    color: white;
    font: bold 15px Helvetica, Sans-Serif;
    text-decoration: uppercase;
    letter-spacing: 20px;
    padding: 8px 0px;
    overflow: hidden
}

#form-style {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2e5e5;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ed7474;
    text-align: left;
    padding: 10px;
}

table th {
    background-color: #ed7474;
}

table.info-section td,
table.info-section th {
    word-wrap: break-word;
    padding: 0;
    border: 0px;
    vertical-align: top;
}

.sub-title {
    width: 100%;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
}

.align_right {
    text-align: right;
}

.align_center {
    text-align: center;
}